# Numbers and Strings

In [2]:
import numpy as np

In [3]:
# data types

# ints vs. floats
c = 7
d = 7.0

print(c,d)

7 7.0

In [4]:
print( type(c))
print( type(d))

<class 'int'>
<class 'float'>

In [9]:
for i in range(c):
    print(i)

0
1
2
3
4
5
6

In [8]:
for i in range(d):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
c+d

14.0

In [13]:
firstName = 'James'
lastName = 'Howard'

firstName + ' ' + lastName

'James Howard'

In [14]:
c*d

49.0

In [17]:
firstName * 100

'JamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJamesJames'

In [18]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       James
i           int       6
lastName    str       Howard
np          module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

## Exercises

In [31]:
# convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

# convert the strings to integers

print(int(s1),int(float(s2)))

# convert the strings to floats

print(float(s1),float(s2))

# convert the numbers into strings

print(str(n1),str(n2))

4 4
4.0 4.7
5 5.8

In [32]:
str(n2)*2

'5.85.8'

# Lists and NumPy Arrays

In [34]:
import numpy as np

In [ ]:
# Lists

# numpy arrays

In [35]:
aList = [0,1,2,3,4,5]
type(aList)

list

In [36]:
listList = [ 3,['3','4','5'],5.5,[4,5,6]]
listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [38]:
listList = [ 
    3,
    ['3','4','5'],
    5.5,
    [4,5,6]
]
listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [39]:
aList = [0,1,2,3,4,5]
sList = ['0','1','2','3','4','5']

aList + sList

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [41]:
aList*3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [42]:
sList*3

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5']

In [44]:
aList_np = np.array(aList)

print(type(aList))
print(type(aList_np))
print(aList)
print(aList_np)

<class 'list'>
<class 'numpy.ndarray'>
[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [45]:
aList_np * 3

array([ 0,  3,  6,  9, 12, 15])

## Enumerate

In [62]:
s = 'James'
for i,letter in enumerate(s):
    print(i,letter)

0 J
1 a
2 m
3 e
4 s

## Exercise

In [56]:
# iterate over whole list and use list.index() to find each index value
for i in listList:
    print(f'List element {listList.index(i)} is {i} and is of type {type(i)}')

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [57]:
# iterate over the length of the list and get the index value as i
for i in range(len(listList)):
    print(f'List element {i} is {listList[i]} and is of type {type(listList[i])}')

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [58]:
# enumerate the list and get both index and item values returned each time as idx and item
for idx,item in enumerate(listList):
    print(f'List element {idx} is {item} and is of type {type(item)}')

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [61]:
# use enumerate and print the type as only the type with class removed
# use slice [8:-2] that slices at character 8 and the last 2 characters from the end
for idx,item in enumerate(listList):
    t = str(type(item))[8:-2]
    print(f'List element {idx} is {item} and is of type {t}')

List element 0 is 3 and is of type int
List element 1 is ['3', '4', '5'] and is of type list
List element 2 is 5.5 and is of type float
List element 3 is [4, 5, 6] and is of type list